In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
pd.set_option('display.max_columns', None) # show full dataframe

In [3]:
# import data
train_val = pd.read_csv("../data/training_set_values.csv")
train_label = pd.read_csv("../data/training_set_labels.csv")

In [4]:
# merge train_set_values and train_set_labels on ID
train_data = pd.merge(train_val, train_label, on="id")
train_data

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,14/03/2011,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,06/03/2013,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,25/02/2013,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,28/01/2013,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,13/07/2011,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,03/05/2013,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,Pangani,Kiduruni,Kilimanjaro,3,5,Hai,Masama Magharibi,125,True,GeoData Consultants Ltd,Water Board,Losaa Kia water supply,True,1999,gravity,gravity,gravity,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
59396,27263,4700.0,07/05/2011,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,Rufiji,Igumbilo,Iringa,11,4,Njombe,Ikondo,56,True,GeoData Consultants Ltd,VWC,Ikondo electrical water sch,True,1996,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional
59397,37057,0.0,11/04/2011,NaN,0,NaN,34.017087,-8.750434,Mashine,0,Rufiji,Madungulu,Mbeya,12,7,Mbarali,Chimala,0,True,GeoData Consultants Ltd,VWC,NaN,False,0,swn 80,swn 80,handpump,vwc,user-group,pay monthly,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional
59398,31282,0.0,08/03/2011,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,Rufiji,Mwinyi,Dodoma,1,4,Chamwino,Mvumi Makulu,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,functional
59399,26348,0.0,23/03/2011,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,Wami / Ruvu,Kikatanyemba,Morogoro,5,2,Morogoro Rural,Ngerengere,150,True,GeoData Consultants Ltd,VWC,NaN,True,2002,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional

In [5]:
train_data.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'status_group'],
      dtype='object')

## Basic statistics

In [6]:
# generate statistics for numerical features
train_data.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [7]:
# generate statistics for categorical features
train_data.describe(include="object")

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,recorded_by,scheme_management,scheme_name,permit,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
count,59400,55763,55745,59398,59400,59029,59400,59400,59400,56066,59400,55522,30590,56344,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400
unique,356,1896,2145,37399,9,19287,21,125,2092,2,1,11,2695,2,18,13,7,12,5,7,7,8,6,5,5,10,7,3,7,6,3
top,15/03/2011,Government Of Tanzania,DWE,none,Lake Victoria,Madukani,Iringa,Njombe,Igosi,True,GeoData Consultants Ltd,VWC,K,True,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
freq,572,9084,17402,3563,10248,508,5294,2503,307,51011,59400,36793,682,38852,26780,26780,26780,40507,52490,25348,25348,50818,50818,33186,33186,17021,17021,45794,28522,34625,32259

## Find missing values

In [8]:
# Missing values are NaN (e.g. null) or zero value or unknown
# So, find the missing values

columns_null = []
columns_zero = []
columns_unknown = []


for col in train_data.columns:

    # search columns which contain null
    if train_data[col].isna().any() == True:
        columns_null.append(col)
        
    # search columns which contain zero
    elif 0 in train_data[col].unique():
        columns_zero.append(col)

    # search columns which contain unknown
    elif "unknown" in train_data[col].unique():
        columns_unknown.append(col)
        
    elif "Unknown" in train_data[col].unique():
        columns_unknown.append(col)


# count the number of rows containing null and create a data frame
null_data = pd.DataFrame(train_data[columns_null].isna().sum()).reset_index()
null_data.columns = ["col_name", "num_of_null"]
null_data["percent_of_null"] = null_data["num_of_null"] / len(train_data)*100

# count the number of rows containing zero and create a data frame
zero_data = pd.DataFrame(train_data[columns_zero].isin([0]).sum()).reset_index()
zero_data.columns = ["col_name", "num_of_zero"]
zero_data["percent_of_zero"] = zero_data["num_of_zero"] / len(train_data)*100

# count the number of rows containing unknown and create a data frame
unknown_data = pd.DataFrame(train_data[columns_unknown].isin(["unknown", "Unknown"]).sum()).reset_index()
unknown_data.columns = ["col_name", "num_of_unknown"]
unknown_data["percent_of_unknown"] = unknown_data["num_of_unknown"] / len(train_data) * 100

# merging all dataframes
missing_value = pd.merge(null_data, zero_data, how="outer", sort=True)
missing_value = pd.merge(missing_value, unknown_data, how="outer", sort=True)
missing_value = missing_value.replace(np.nan, 0)

# counts sum of missing values and calculate percentage
missing_value["sum_of_missing_value"] = missing_value["num_of_null"] + missing_value["num_of_zero"] + missing_value["num_of_unknown"]
missing_value["percent_of_missing_value"] = missing_value["sum_of_missing_value"] / len(train_data) * 100 
missing_value

,col_name,num_of_null,percent_of_null,num_of_zero,percent_of_zero,num_of_unknown,percent_of_unknown,sum_of_missing_value,percent_of_missing_value
0,amount_tsh,0.0,0.000000,41639.0,70.099327,0.0,0.000000,41639.0,70.099327
1,construction_year,0.0,0.000000,20709.0,34.863636,0.0,0.000000,20709.0,34.863636
2,district_code,0.0,0.000000,23.0,0.038721,0.0,0.000000,23.0,0.038721
3,funder,3637.0,6.122896,0.0,0.000000,0.0,0.000000,3637.0,6.122896
4,gps_height,0.0,0.000000,20438.0,34.407407,0.0,0.000000,20438.0,34.407407
5,id,0.0,0.000000,1.0,0.001684,0.0,0.000000,1.0,0.001684
6,installer,3655.0,6.153199,0.0,0.000000,0.0,0.000000,3655.0,6.153199
7,longitude,0.0,0.000000,1812.0,3.050505,0.0,0.000000,1812.0,3.050505
8,management,0.0,0.000000,0.0,0.000000,561.0,0.944444,561.0,0.944444
9,management_group,0.0,0.000000,0.0,0.000000,561.0,0.944444,561.0,0.944444
10,num_private,0.0,0.000000,58643.0,98.725589,0.0,0.000000,58643.0,98.725589
11,payment,0.0,0.000000,0.0,0.000000,8157.0,13.732323,8157.0,13.732323
12,payment_type,0.0,0.000000,0.0,0.000000,8157.0,13.732323,8157.0,13.732323
13,permit,3056.0,5.144781,0.0,0.000000,0.0,0.000000,3056.0,5.144781
14,population,0.0,0.000000,21381.0,35.994949,0.0,0.000000,21381.0,35.994949
15,public_meeting,3334.0,5.612795,0.0,0.000000,0.0,0.000000,3334.0,5.612795
16,quality_group,0.0,0.000000,0.0,0.000000,1876.0,3.158249,1876.0,3.158249
17,quantity,0.0,0.000000,0.0,0.000000,789.0,1.328283,789.0,1.328283
18,quantity_group,0.0,0.000000,0.0,0.000000,789.0,1.328283,789.0,1.328283
19,scheme_management,3878.0,6.528620,0.0,0.000000,0.0,0.000000,3878.0,6.528620
20,scheme_name,28810.0,48.501684,0.0,0.000000,0.0,0.000000,28810.0,48.501684
21,source,0.0,0.000000,0.0,0.000000,66.0,0.111111,66.0,0.111111
22,source_class,0.0,0.000000,0.0,0.000000,278.0,0.468013,278.0,0.468013
23,subvillage,371.0,0.624579,0.0,0.000000,0.0,0.000000,371.0,0.624579
24,water_quality,0.0,0.000000,0.0,0.000000,1876.0,3.158249,1876.0,3.158249
25,wpt_name,2.0,0.003367,0.0,0.000000,0.0,0.000000,2.0,0.003367

## Find invalid data

In [9]:
# convert data type of "date_recorded" into datetime object since we can't see the timeline with string 
train_data["date_recorded"] = pd.to_datetime(train_data['date_recorded'])
type(train_data["date_recorded"][0])

C:\Users\Owner\AppData\Local\Temp\ipykernel_2516\1959247559.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  train_data["date_recorded"] = pd.to_datetime(train_data['date_recorded'])

pandas._libs.tslibs.timestamps.Timestamp

In [10]:
# show unique construction_years
train_data["construction_year"].sort_values().unique()

array([   0, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969,
       1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013])

In [11]:
train_data["construction_year"].where(train_data["construction_year"] == 0).value_counts()

construction_year
0.0    20709
Name: count, dtype: int64

In [12]:
# find invalid data

# extract year from date_recorded
train_data["year_recorded"] = pd.DatetimeIndex(train_data["date_recorded"]).year
train_data["diff_year"] = train_data["year_recorded"] - train_data["construction_year"]
train_data.loc[train_data["diff_year"]<0]

# Some water pumps were built after the measured data is recorded. This doesn't makes sense, so those are considered as invalid data

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group,year_recorded,diff_year
8729,20198,0.0,2004-05-01,Government Of Tanzania,86,DWE,38.959776,-5.247278,Kwa Bi Shoga,0,Pangani,Mapojoni Kati,Tanga,4,4,Muheza,Ngomeni,120,True,GeoData Consultants Ltd,VWC,Borehole,True,2008,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,salty abandoned,salty,dry,dry,shallow well,shallow well,groundwater,hand pump,hand pump,non functional,2004,-4
10441,55069,20.0,2004-12-01,Plan Int,307,DDCA,38.768656,-7.298419,Mianzi Primary School,0,Rufiji,Momboni,Pwani,60,33,Kisarawe,Msanga,1,True,GeoData Consultants Ltd,VWC,NaN,False,2006,india mark iii,india mark iii,handpump,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,hand pump,hand pump,non functional,2004,-2
13366,48759,100.0,2004-06-01,Mgaya,1331,Mgaya,34.290885,-1.699609,Maro Mgaya,0,Lake Victoria,Kibaoni,Mara,20,2,Serengeti,Kenyamonta,80,NaN,GeoData Consultants Ltd,Other,NaN,True,2011,other - rope pump,rope pump,rope pump,other,other,pay per bucket,per bucket,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional,2004,-7
23373,20534,50.0,2004-03-01,Tasaf And Lga,239,TASAFcitizen and LGA,39.272736,-11.019000,Juhudi,0,Ruvuma / Southern Coast,Mwanona,Mtwara,90,33,Newala,Luchingu,317,True,GeoData Consultants Ltd,VWC,Mwanona,False,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe multiple,communal standpipe,functional,2004,-5
27501,53086,500.0,2004-01-07,Kkkt,1611,Villagers,34.900561,-8.873813,Kwa Barnabasi Kilumile,0,Rufiji,Mlowa,Iringa,11,4,Njombe,Makambako,65,True,GeoData Consultants Ltd,VWC,NaN,False,2009,nira/tanira,nira/tanira,handpump,vwc,user-group,pay when scheme fails,on failure,soft,good,enough,enough,hand dtw,borehole,groundwater,hand pump,hand pump,functional,2004,-5
32619,9195,0.0,2004-03-01,Caltus,1856,Cultus,31.539761,-7.983106,Kwa Pambajila,0,Lake Tanganyika,Magomeni,Rukwa,15,4,Sumbawanga Urban,Kasense,900,True,GeoData Consultants Ltd,VWC,Mradi wa maji wa kasen,True,2005,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe,non functional,2004,-1
33942,5971,0.0,2004-03-01,Amref,-27,AMREF,39.283105,-7.422852,Kwa Ndevu,0,Rufiji,Gundani,Pwani,6,4,Mkuranga,Magawa,200,True,GeoData Consultants Ltd,VWC,NaN,False,2007,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,seasonal,seasonal,shallow well,shallow well,groundwater,hand pump,hand pump,non functional,2004,-3
39559,15921,0.0,2004-03-06,Tasafu,301,DWE,38.558421,-5.140405,Shuleni,0,Pangani,Kiwanjani,Tanga,4,2,Korogwe,Kwagunda,713,True,GeoData Consultants Ltd,VWC,NaN,False,2009,other,other,other,vwc,user-group,never pay,never pay,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other,non functional,2004,-5
48555,1251,0.0,2004-12-01,African 2000 Network,284,Karugendo,38.929212,-7.111349,Kauzeni Primary School 2,0,Wami / Ruvu,Kauzeni Chini,Pwani,60,33,Kisarawe,Kibuta,185,True,GeoData Consultants Ltd,Private operator,NaN,False,2008,gravity,gravity,gravity,private operator,commercial,never pay,never pay,soft,good,enough,enough,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional,2004,-4

In [13]:
zero_longitude = train_data.loc[train_data["longitude"]==0]
len(zero_longitude) / len(train_data)*100

# Some water pumps locates in longitude zero. This is out of Tanzania. Only 3% of records have wrong longitude.

3.05050505050505

## Dataset profile summary
### Training_set_values
- Size: 59400 rows x 40 columns  
- Data type: string, integer, float, boolean
    - NOTE: Data type of "date_recorded" is string.
- Columns contain the following information:
    - ID to identify individual water pump
    - dates when the record is filled and by whom the data is filled
    - by whom the water pump is funded
    - when and by whom the water pump is installed
    - where the water pump localates
    - who authorizes the water pump
    - technical specification of the water pump
    - water quality
    - source of the water
- Missing values were found in the following columns:
    - "funder", "installer", "wpt_name", "subvillage", "public_meeting", "scheme_management", "scheme_name", "permit", "construction_year"
### Treaining_label_set
- Size: 59400 rows x 2 columns
- Data type: integer, string
- Columns contain the following information:
    - ID to identify individual water pump
    - status of water pump (i.e. "functional", "non functional", "functional needs repair")

# Key observation:
Most water pumps are likely installed around in the middle of Tanzania between year 1986 - 2004.
VWC (Village Water Committees) manages and makes a scheme for most of water pumps, but 30% of water pumps are not permitted. 
Local people can use around 40% of water pupms for free. 
No water seems to be available in more than 50% of water pumps, but the labels shows 50-60% of water pumps are functional. Simply water pump is non-functional or need repare, or water source can be dried even though pumps are functional.

## Questions

- What is the unit of amount_tsh?
- What does num_private indicate? 
- What does public_meeting mean?
- permit: What does this mean?

### Notes for myself
**Data characteristics**
- Id isn't sequential
- wpt_name is the name of water pump, so it makes sense that most values are none
- Maybe the value of latitude is minus if the land locates in south hemisphere.
- gps_height: Maybe minus value is Outliners
- extraction_year: The zero values affect the mean and we can't find the oldest year, so we might need to eliminat zero values.
- wpt_name: It is the name of water pump, so it makes sense that most values are none

**Key observations**
- No water can be availabe to most of water pumps, and around 20 liters of water is likely available in around 25% of water pumps.
    - Observed by 50% and 75 % tiles of armount_tbh.
- Most water pumps likely locates in the middle of Tanzania.
    - Observed by googling latitude and logitude in 25%-75% tiles. Latitude and longitude of Tanzania is 6.3690Â° S, 34.8888Â° E. 
- The highest elevation in Tanzania is 5895 meters, so most are installed in flat place or on the hill. 
    - Observed by gps_height
- Most of water pumps were installed from 1986-2004 and data doesn't show when 25% of water pumps were installed. 
    - Observed by "extraction_year".
- Around 30% of water pumps don't have a permit.
- Almost 50% of water pumps use gravity to extract water.
- VWC take a responsibility for scheming and managing most of water pumps. VWC stands for Village Water Committees and it's a leagal management entites for rural water projects.
- Local people can use water from around 40% of water pumps for free.
    - Observed by "payment".
- Most of water qulity is good and water is extracted from ground. 
- Most common types of water point is communal standpipe.
- Around 50-60% of water pumps are functional according to labels.